<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-center" href="#"><img src="https://www.moradhamdy.com/morad/traveltour-demo/images/files/logo.png"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav fs-5 fw-semibold">
                <li class="nav-item px-2">
                    <a class="nav-link active " aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#service">Our Services</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#adventurer">Our Adventurer </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#events">Our Events</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#guide">Tour Guide</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#Testimonial">Testimonial</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="#contact">Contact us</a>
                </li>

            </ul>
{#            <div class="ps-xl-5 p-md-2 ">#}
{#            <a class=" btn btn-outline-warning btn-lg" href="#">Take a Tour</a>#}
{#        </div>#}
        </div>
    </div>
</nav>
